.star {
    color: gray;
    /* font-size: 3rem;
vertical-align: middle; */
  }

  .halfRating {
    /* font-size: 3rem;
vertical-align: middle; */

    /* font-size: 32px; */
  /* color: #9c47fc; */
  /* display: block; */
  background: -webkit-linear-gradient( right, gray 0%, gray 50%, yellow 51%, yellow 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    /* position: relative !important; */
    /* width: 50% !important;
    height: 100% !important; */
    /* background: linear-gradient(to right, #bada55 0%, #bada55 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); 
        background: linear-gradient(to right, #bada55 0%, #bada55 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, #bada55 0%, #bada55 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    /* background: linear-gradient(to right, #bada55 0%, #bada55 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%); */
  }

  .papayaRatingLogo {
    width: 1rem !important;
    height: 1rem !important;
  }