.overlay {
  /* opacity: 0.5; */
  background-color: rgba(255, 255, 255, 0.582);
  z-index: -1;
}

/* .fullopacity {
  opacity: 1 !important;
} */

/* NAVBAR */

#navbar-strip-top {
  background-color: transparent;
  z-index: 9;
}

#papaya-logo-nav {
  width: 5rem;
  height: 5rem;
  z-index: 0 !important;
}

#main-nav-bar-icon {
  color: #ef7c53;
  font-size: 3rem;
}

#main-nav-bar-icon-close {
  color: #ef7c53;
  font-size: 3rem;
  z-index: 2 !important;
}

#login-nav-bar-icon {
  color: #ef7c53;
  font-size: 2rem;
}

/* SIDE NAV */

#side-nav-jumbo {
  height: 100vh;
  width: 25vw;
  /* margin-top: 125px; */
  margin-right: 0;
  background-color: #ffd800;
  /* padding-top: 130px;
  padding-bottom: 100px; */
  /* transition: right 20s;
  -webkit-transition: right 20s; */
  overflow-y: scroll;
  z-index: 98 !important;
  /* transform: translateX();
  -webkit-transform: translateX(); */
}

@media only screen and (min-height: 80vh) {
  #side-menu-row {
    margin-top: 125px !important;
    height: 75%;
  }
}

/* @media only screen and (min-height: 100vh) {
  #side-menu-row {
    margin-top: 30vh !important;
    margin-bottom: 30vh !important;
    height: 75%;
  };
} */

.display-6 {
  color: white;
  font-weight: 500 !important;
  font-size: 3rem !important;
  /* align-self: center; */
  /* transition: all 0.2s ease 0s; */
}

.display-6:hover {
  color: #ef7c53;
  font-weight: 500 !important;
}

#sidenav-topbar {
  background-color: #ffd800;
  height: 125px;
  width: 25vw;
  right: 0;
  top: 0;
  position: absolute;
}

.menuButton {
  background-color: #ef7c53 !important;
  border-color: #ef7c53 !important;
  border: 2px solid #ef7c53 !important;
  color: #ffd800 !important;
}

.menuButton:hover {
  background-color: #ffd800 !important;
  border-color: #ef7c53 !important;
  border: 2px solid #ef7c53 !important;
  color: #ef7c53 !important;
}

a {
  text-decoration: none !important;
}

/* MAIN COMPONENT */

#main-app {
  height: 100vh !important;
  overflow-y: scroll;
  width: 100vw !important;
}

#main-app-body {
  height: 100vh !important;
}

.full-height {
  height: 100%;
}

#main-app-component {
  height: 100vh !important;
  overflow-y: scroll;
}

#main-jumbo {
  height: 500px;
  background-image: url("../src/components/resources/afrowoman.jpg");
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#main-jumbo-login {
  height: 500px;
  background-image: url("../src/components/resources/afrowoman.jpg");
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#brand-heading {
  font-family: "Rozha One", serif;
  text-align: center;
  color: #ef7c53;
  font-size: 10rem;
}

#brand-tag {
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

#brand-sub {
  text-align: center;
  font-size: 1.5rem;
  color: #ffd800;
  font-weight: 800;
}

#header-button {
  text-align: center;
}

#jumbo-contents {
  padding-top: 100px !important;
}

#jumbo-contents-login {
  padding-top: 150px !important;
  /* padding-bottom: 50px !important; */
}

#search-bar-strip {
  background-color: #ffd800;
  height: 20vh;
  z-index: 0 !important;
}

#search-bar-form {
  width: 70vw;
  height: 3rem;
}

#searchBarcode {
  width: 1.5rem;
  height: 1.5rem;
}

.searchBarButton {
  border-color: #ef7c53 !important;
  background-color: #ef7c53 !important;
  color: #000000 !important;
  /* z-index: 0; */
}

#category-nav-input {
  border-color: #ffef93 !important;
  border-left: none !important;
}

#category-nav-input:focus,
#category-nav-input:active {
  outline: none !important;
  box-shadow: none !important;
}

.categorySearchButton {
  border-color: #ffef93 !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  border-right: none !important;
}

.searchBarButton:hover {
  border-color: #ffef93 !important;
  background-color: #ffef93 !important;
  color: #000000 !important;
  /* z-index: 0; */
}

#search-input {
  border-color: #ffef93 !important;
}

#search-input:focus,
#search-input:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}
/* 
#main-app-page {
  height: 100vh;
  overflow-y: scroll;
} */

/* CATEGORY */

#category-slider-comp {
  /* width: 80%; */
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

#category-slider-cont {
  background-color: #ffef93;
}

.categoryListItem {
  background-color: #ffef93 !important;
}

/* h2 {
  font-size: 1.2em !important;
} */

h6 {
  font-size: 1em !important;
  font-weight: normal !important;
}

.extraSmallTxt {
  font-size: 0.75rem !important;
  font-weight: normal !important;
}

.noBold {
  /* font-size: 0.75rem !important; */
  font-weight: normal !important;
}

.smallTxt {
  font-size: 1rem !important;
  font-weight: normal !important;
}

.text-bold {
  font-weight: bold !important;
}

/* REVIEWS */

#reviews-slider-cont {
  height: 90vh;
  min-height: 650px;
  background-image: url("../src/components/resources/afrowomansmiling.jpeg");
  box-shadow: inset 2000px 0 0 0 rgba(255, 239, 147, 0.5);
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 150px;
}

#review-slider-comp {
  /* width: 80%; */
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

/* NEW PRODUCTS */

#product-slider-cont {
  background-color: #ffd800;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 250px;
}

#product-slider-comp {
  /* width: 80%; */
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

/* REGISTRATION */

#register-app {
  height: 100vh !important;
  /* overflow-y: scroll; */
  width: 100vw !important;
  background-color: #ffef93;
}

#register-app-body {
  height: 100vh !important;
}

#register-app-main {
  height: 100vh !important;
  overflow-y: scroll;
}

#login-app-component {
  height: 100vh !important;
  width: 30rem;
}

#signup-app-component {
  /* height: 100vh !important;  */
  width: 30rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

/* .form-floating {
} */

/* #login-form { */
/* height: 100vh !important; */
/* width: 30rem; */

/* } */

.register-input {
  border-color: #ffef93 !important;
}

.register-input:focus,
.register-input:active {
  outline: none !important;
  box-shadow: none !important;
}

.brand-heading-h1 {
  font-family: "Rozha One", serif;
  text-align: center;
  color: #ef7c53;
  font-size: 3rem;
}

#papaya-logo-login {
  width: 3rem;
  height: 3rem;
}

#papaya-logo-signup {
  width: 3rem;
  height: 3rem;
}

#brand-sub-tag {
  text-align: center;
  font-size: 1rem;
  color: #363636;
  text-shadow: 0.5px 0.5px #ef7c53;
  font-weight: 800;
}

/* FOOTER */

#papaya-logo-footer {
  width: 3rem;
  height: 3rem;
}

#footer-container {
  padding: 0px 10rem 0px;
  height: 600px;
}

#footer-app-component {
  background-color: #ffd800;
  color: #ffffff;
  font-weight: 900;
}

#link-text {
  text-decoration: none !important;
}

.registerButton {
  background-color: #ef7c53 !important;
  border-color: #ef7c53 !important;
  border: 2px solid #ef7c53 !important;
  color: #ffd800 !important;
}

.registerButton:hover {
  background-color: #ffef93 !important;
  border-color: #ef7c53 !important;
  border: 2px solid #ef7c53 !important;
  color: #ef7c53 !important;
}

/* PROFILE PAGE */

#profile-app {
  height: 100vh !important;
  /* overflow-y: scroll; */
  width: 100vw !important;
}

#profile-app-body {
  height: 100vh !important;
}

#profile-app-main {
  height: 100vh !important;
  overflow-y: scroll;
}

/* #signup-app-component { */
/* height: 100vh !important;  */
/* width: 30rem;
  margin-top: 10rem;
  margin-bottom: 5rem; */
/* } */

/* #profile-brand-h1 {
  font-family: 'Rozha One', serif;
  text-align: center;
  color: #ef7c53;
  font-size: 3rem;
  z-index: 550 !important;
} */

#profile-brand-h1 {
  font-family: "Rozha One", serif;
  text-align: center;
  color: #ef7c53;
  font-size: 3rem;
  z-index: 550 !important;
  position: absolute;
}

#profile-topbar {
  /* height: 138px */
  position: absolute;
  top: 0;
}

#profile-header {
  background-image: url("../src/components/resources/flower-header.jpeg");
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  z-index: 1 !important;
  /* opacity: 0.5; */
}

#profile-container {
  padding-top: 150px;
  padding-left: 15rem;
  padding-right: 15rem;
  /* background-color: #ffffff; */
}

#profile-form {
  width: 100vw !important;
}

#profile-main-container {
  padding-left: 15rem !important;
  padding-right: 15rem !important;
}

.profileButton {
  background-color: #ef7c53 !important;
  border-color: #ef7c53 !important;
  border: 2px solid #ef7c53 !important;
  color: #ffd800 !important;
  /* z-index: 0; */
}

.profileCard {
  border-color: #ffef93 !important;
  background-color: #ffef93 !important;
}

.categoryListCard {
  border-color: #ffef93 !important;
  background-color: #ffef93 !important;
  /* border-bottom: #ef7c53; */
}

.bottomLine {
  border-bottom: 1px solid #ffd800 !important;
  border-radius: 0px 0px 0px !important;
}

/* .papayaRatingLogo {
  width: 2rem !important;
  height: 2rem !important;
} */

.public-app-component {
  height: 1000px;
}

/* PAPAYA APP ICON FONT */
@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?vj1a11");
  src: url("./fonts/icomoon.eot?vj1a11#iefix") format("embedded-opentype"),
    url("./fonts/icomoon.ttf?vj1a11") format("truetype"),
    url("./fonts/icomoon.woff?vj1a11") format("woff"),
    url("./fonts/icomoon.svg?vj1a11#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-papaya-logo:before {
  content: "\e900";
}

/* FILLER COMPONENT */

/* .progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
} */

/* REVIEW COMPONENT */

.borderBottom {
  border-bottom: 1px solid #ef7d5346 !important;
  border-radius: 0px 0px 0px 0px !important;
}

hr {
  color: #ef7c53 !important;
}

#review-app {
  /* overflow-y: scroll; */
  width: 100vw !important;
  background-color: white;
}

#review-app-component {
  height: 1220px !important;
}

#review-app-body {
  height: 100vh !important;
}

#review-app-main {
  height: 100vh !important;
  overflow-y: scroll;
}

/* #review-app-main {
  height: 100vh !important;
  overflow-y: scroll;
} */

#review-form {
  width: 100vw !important;
  /* margin-top: 400px !important; */
}

#review-topbar {
  height: 138px;
}

.reviewFormMargin {
  margin-top: 400px;
}

#review-brand-h1 {
  font-family: "Rozha One", serif;
  text-align: center;
  color: #ef7c53;
  font-size: 3rem;
  z-index: 550 !important;
}

#review-main-cont {
  padding-top: 280px !important;
  z-index: -1 !important;
}

/* #public-main-cont {
  padding-top: 290px !important;
  z-index: -1 !important;
} */

#business-main-cont {
  /* padding-top: 380px !important; */
  z-index: -1 !important;
}

#review-header {
  background-image: url("../src/components/resources/flower-header.jpeg");
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  z-index: 1 !important;
}

/* #review-container {
  padding-left: 15rem;
  padding-right: 15rem;
} */

#review-form {
  height: 100vh !important;
  width: 40rem !important;
}

#review-form-component {
  /* height: 1200px !important; */
}

#review-container {
  padding-top: 160px;
  padding-left: 24rem;
  padding-right: 24rem;
  /* background-color: #ffffff; */
}

/* BUSINESS PAGE */

#business-brand-h1 {
  font-family: "Rozha One", serif;
  text-align: center;
  color: #ef7c53;
  font-size: 3rem;
  z-index: 550 !important;
  position: absolute;
}

#business-topbar {
  /* height: 138px */
  position: absolute;
  top: 0;
}

/* #websiteCard {
  z-index: 2 !important;
} */

#bus-profile-header {
  background-image: url("../src/components/resources/flower-header.jpeg");
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  z-index: 1 !important;
  /* opacity: 0.5; */
}

a {
  color: inherit !important;
}

.input-group .btn {
  z-index: 0 !important;
}

/* LOADING COMPONENT */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  transform: rotateY(180deg);
}
/* flip the pane when hovered */
/* .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg); 
	} */

.flip-container,
.front,
.back {
  width: 100%;
  height: 100%;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.onTop {
  z-index: 999 !important;
}

.percentageWidth {
  width: 50px !important;
}

.categoryCard {
  background-color: #ef7c53 !important;
  border-color: #ef7c53 !important;
  border: 2px solid #ef7c53 !important;
  color: #ffd800 !important;
}

.categoryCard:hover {
  background-color: #ffd800 !important;
  border-color: #ffd800 !important;
  border: 2px solid #ffd800 !important;
  color: #ef7c53 !important;
}

/* CATEGORY SEARCH */

#category-search-container {
  padding-left: 15rem !important;
  padding-right: 15rem !important;
}

#category-main-container {
  padding-left: 15rem !important;
  padding-right: 15rem !important;
}

#category-main-cont {
  /* padding-top: 380px !important; */
  z-index: -1 !important;
}

#category-search-container {
  padding-top: 200px !important;
  padding-bottom: 50px !important;
}

#category-search-main-container {
  padding-left: 15rem !important;
  padding-right: 15rem !important;
}

/* Thankyou Page */

#thankyou-app-body {
  height: 100vh !important;
}

#thankyou-app-main {
  height: 100vh !important;
  overflow-y: scroll;
  background-color: #ffef93;
}
